<style>
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
</style>
    <%# Footer partial %>
<footer>
<p>&copy; My Website <%= Time.current.year %></p>
</footer>
